In [49]:
import pymysql
import pandas as pd
# import cryptography 


# create_sql = """create table hongdae(
# id int auto_increment primary key,
# name varchar(20) not null,
# address varchar(50) not null,
# count int
# )"""  

# create_sql = """create table yeonnam(
# id int auto_increment primary key,
# name varchar(20) not null,
# address varchar(50) not null,
# count int
# )"""  

# create_sql = """create table hapjeong(
# id int auto_increment primary key,
# name varchar(20) not null,
# address varchar(50) not null,
# count int
# )"""  



try:
    

    # 1. Database와 연결.
    conn = pymysql.connect(host = "127.0.0.1", # DBMS의 ip(host) : str
                           port = 3306,        # DBMS의 port 번호 : int
                           user = "root",  # username : str
                           password = "1111",  # password : str
                           db = "use_store"         # 연결할 Database이름 : str
    )     
    # 연결 성공하면 연결된 DB와 관련 작업을 할 수 있는 기능을 제공하는 Connection객체를 반환
    print(type(conn))
    
    # 2. Connection을 사용해서 Cursor 객체 생성
    #    Cursor: sql 처리를 하는 기능을 제공한다(sql전송, 처리결과를 받을 때 까지를 관리)
    cursor = conn.cursor()
    print(type(cursor))
    
    # SQL문 전송 + 처리결과 받기
    
    result = cursor.execute(create_sql)
    print("처리결과", result)
finally:
# 4. 연결닫기(끊기)
    if conn:
        cursor.close()  # 4-1. cursor 연결 닫기
        conn.close()    # 4-2. connection 연결 닫기

<class 'pymysql.connections.Connection'>
<class 'pymysql.cursors.Cursor'>

OperationalError: (1050, "Table 'hongdae' already exists")

In [ ]:

import pymysql
import csv
import os
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# csv 파일 읽기
def read_csv_file(march_week4_Hondae.csv):
    data = []
    file_path = os.path.join(r"C:\pjt", march_week4_Hondae.csv)
    with open(file_path, 'r', encoding = 'utf-8') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)
        for row in csv_reader:
            data.append(row)
        return data
    
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# MySQL 데이터베이스 연결
# conn = pymysql.connect(host="127.0.0.1",
#                        port = 3306
#                        user='root',
#                        password='1111',
#                        db='use_store',
#                        charset='utf8mb4')
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 커서 객체 생성
# cursor = conn.cursor()

# CSV 파일 읽기
data = read_csv_file(march_week4_Hondae.csv)
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 테이블 생성
# create_table_query = """
# CREATE TABLE IF NOT EXISTS your_table_name (
#     name VARCHAR(255),
#     address VARCHAR(255),
#     count INT,
#     sympathy INT
# );
# """

# cursor.execute(create_table_query)
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 데이터 삽입
for row in data:
    name, address, count = row
    count = int(count)
    insert_query = "INSERT INTO hapjeong (id, name, address, count) VALUES (%s, %s, %s, %s)"
    cursor.execute(insert_query, (id, name, address, count))

# 변경사항 커밋
conn.commit()

# 커서 및 연결 종료
cursor.close()
conn.close()
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
print("Data inserted successfully!")

SyntaxError: invalid syntax (431000005.py, line 6)

In [50]:
import pymysql
import csv
import os

# CSV 파일 읽기
def read_csv_file(march_week4_Hondae):
    data = []
    file_path = os.path.join(r"C:\pjt", march_week4_Hondae)
    with open(file_path, 'r', encoding='cp949') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)
        for row in csv_reader:
            data.append(row)
    return data

# MySQL 데이터베이스 연결
conn = pymysql.connect(host="127.0.0.1",
                       port=3306,
                       user='root',
                       password='1111',
                       db='use_store',
                       charset='')

# 커서 객체 생성
cursor = conn.cursor()

# CSV 파일 읽기
data = read_csv_file("march_week4_Hondae.csv")

In [52]:
print(type(data))
print(data)

<class 'list'>
[['0', '마담풍천 합정', '서울특별시 마포구 독막로6길 8 1층 마담풍천', '1'], ['1', '간코 합정본점', '서울특별시 마포구 양화로3길 15 1층', '3'], ['2', '키츠스키야키', '서울특별시 마포구 양화로7길 6-5 1층 키츠스키야키', '2'], ['3', '멘야유메미루 합정점', '서울특별시 마포구 성지길 48 1층', '6'], ['4', '스파카나폴리 합정', '서울특별시 마포구 양화로6길 28 2층', '1'], ['5', '이리에라멘', '서울특별시 마포구 성지1길 18 1층', '2'], ['6', '명현만간장게장무한리필', '서울특별시 마포구 양화로 45 메세나폴리스 123호~129호', '2'], ['7', '백두한우곱창', '서울특별시 마포구 월드컵로1길 14 1층 B119호', '1'], ['8', '범상 스프커리 합정점', '서울특별시 마포구 포은로2가길 65 B동 1층 102호', '4'], ['9', '상곱창', '서울특별시 마포구 월드컵로 41-1 1층', '1'], ['10', '각시보쌈', '서울특별시 마포구 성지길 25 보광빌딩', '1'], ['11', '담택', '서울특별시 마포구 월드컵로8길 34 1층', '1'], ['12', '포36거리 홍대점', '서울특별시 마포구 독막로3길 29 화이트하우스 1층', '3'], ['13', '라라본국마라탕 본점', '서울특별시 마포구 월드컵로 45-1 2층', '2'], ['14', '독대', '서울특별시 마포구 양화로16길 14 1층', '2'], ['15', '커리지널', '서울특별시 마포구 잔다리로7안길 3 1층 커리지널', '1'], ['16', '카와카츠 합정점', '서울특별시 마포구 양화로 78-7 1층 카와카츠', '2'], ['17', '로우샹로우', '서울특별시 마포구 양화로6길 50 1층', '3'], ['18', '사치쌀국수', '서울특별시 마포구 포은로2나길 44 1층 사치쌀국수', '5'], ['19', '마포오리농장', '서울특별시 마포구 양화로 58 명지빌드웰 1층 마포 오리농장', '3'], ['20', '돼지전 합정점', '서울특별시 마포구 양화로1길 25-3 1층', '3'], ['21', '옥동식', '서울특별시 마포구 양화로7길 44-10', '2'], ['22', '아키야라멘', '서울특별시 마포구 토정로 39-3 1층 아키야라멘', '1'], ['23', '블러', '서울특별시 마포구 토정로 28-10 4층', '2'], ['24', '오레노라멘 본점', '서울특별시 마포구 독막로6길 14', '2'], ['25', '델리인디아', '서울특별시 마포구 독막로9길 8 2층', '2'], ['26', '동꾼', '서울특별시 마포구 동교로22길 19 1층 좌측 동꾼', '1'], ['27', '와쇼쿠섭', '서울특별시 마포구 양화로3길 10 2층', '2'], ['28', '기요한', '서울특별시 마포구 동교로12길 3 1층기요한', '1'], ['29', '후쿠란 상수본점', '서울특별시 마포구 와우산로3안길 2 1층일부,2층 후쿠란', '2'], ['30', '합정 지튼', '서울특별시 마포구 양화로11길 42 1층', '1'], ['31', '정미', '서울특별시 마포구 양화로 45 몰동 1층 176호', '10'], ['32', '콘드', '서울특별시 마포구 월드컵로3길 32 2층', '1'], ['33', '폴베리', '서울특별시 마포구 포은로 40 1층 왼쪽', '2'], ['34', '우미담 서교본점', '서울특별시 마포구 잔다리로 78 1층 우미담', '1'], ['35', '새벽숯불가든', '서울특별시 마포구 양화로1길 38 대운행복아파트', '1'], ['36', '큐슈방', '서울특별시 마포구 독막로3길 18 2층 201호', '1'], ['37', '몽주방', '서울특별시 마포구 독막로7길 20 1층', '1'], ['38', '남북통일', '서울특별시 마포구 동교로18길 37', '1'], ['39', '국제양식', '서울특별시 마포구 양화로1길 38 대운행복아파트 1층 102호', '2'], ['40', '아우룸', '서울특별시 마포구 월드컵로5길 33-26', '16'], ['41', '빠넬로', '서울특별시 마포구 어울마당로5길 29', '1'], ['42', '가츠신 본점', '서울특별시 마포구 독막로2길 22 1층', '1'], ['43', '르파르', '서울특별시 마포구 성지길 35 덕양빌딩 1층 르파르', '1'], ['44', '히게쯔라', '서울특별시 마포구 양화로1길 42 1층', '2'], ['45', '도돌곱창전골', '서울특별시 마포구 월드컵로3길 31-4 1층 101호', '2'], ['46', '피그바 합정점', '서울특별시 마포구 독막로3길 28-7 1층', '1'], ['47', '합정고깃집', '서울특별시 마포구 양화로1길 21', '2'], ['48', '어부블루스 합정', '서울특별시 마포구 양화로6길 21 별관 1층', '2'], ['49', '우삼촌카레 홍대점', '서울특별시 마포구 잔다리로3안길 24 1층 우삼촌카레', '1'], ['50', '고기꾼김춘배 홍대본점', '서울특별시 마포구 홍익로3길 36 3층', '1'], ['51', '선비다이닝', '서울특별시 마포구 독막로3길 29 2층', '1'], ['52', '23플래터', '서울특별시 마포구 잔다리로3안길 36 1층 23플래터', '1'], ['53', '미스타교자 미니합정점', '서울특별시 마포구 월드컵로1길 54', '1'], ['54', '마포소금구이', '서울특별시 마포구 양화로 27', '1'], ['55', '소풍가는날', '서울특별시 마포구 독막로 41 102호 소풍가는날', '1'], ['56', '수림식당 홍대점', '서울특별시 마포구 와우산로21길 19-19 1층', '1'], ['57', '카레시', '서울특별시 마포구 독막로9길 31 1층', '1'], ['58', '몽주막', '서울특별시 마포구 독막로9길 12 1층 몽주막', '1'], ['59', '발리 슈퍼스토어', '서울특별시 마포구 양화로6길 45 2층', '2'], ['60', '따로집', '서울특별시 마포구 독막로 4 2층', '1'], ['61', '다노', '서울특별시 마포구 어울마당로5길 35 1층', '1'], ['62', '해옫 합정', '서울특별시 마포구 독막로8길 30 1층', '1'], ['63', '토끼다이닝', '서울특별시 마포구 독막로5길 5 2층', '3'], ['64', '빌리프커피로스터스', '서울특별시 마포구 양화로11길 50 해동빌딩 1층~지하1층', '1'], ['65', '로로11', '서울특별시 마포구 어울마당로5길 42 roro11', '1'], ['66', '양화로 1984', '서울특별시 마포구 양화로 27 1층 양화로1984', '3'], ['67', '스키야키201', '서울특별시 마포구 양화로6길 10 2층', '1'], ['68', '그늘 합정본점', '서울특별시 마포구 독막로3길 33-3 지1층 그늘', '1'], ['69', '해몽 마포점', '서울특별시 마포구 양화로6길 65 1층', '1'], ['70', '독타운피자', '서울특별시 마포구 양화로6길 48 2층', '1'], ['71', '금성회관 합정본점', '서울특별시 마포구 양화로6길 78 1층', '3'], ['72', '우동 카덴', '서울특별시 마포구 양화로7안길 2-1', '1'], ['73', '오코뎅', '서울특별시 마포구 독막로3길 21 101호', '2'], ['74', '라라와 케이', '서울특별시 마포구 토정로 28-8 1층 1호', '9'], ['75', '너구리베이글 합정점', '서울특별시 마포구 양화로6길 49 1층', '1'], ['76', '카에루', '서울특별시 마포구 양화로1길 31 우진빌딩', '1'], ['77', '화류', '서울특별시 마포구 성지5길 19 1층', '1'], ['78', '콩청대', '서울특별시 마포구 포은로 29-1', '1'], ['79', '쿠시로지', '서울특별시 마포구 포은로2가길 65 B동 1층 3호', '1'], ['80', '비볼리 합정', '서울특별시 마포구 독막로 31-3 2F 비볼리 합정', '2'], ['81', '히야포차', '서울특별시 마포구 양화로6길 57-10 1층', '1'], ['82', '은하루', '서울특별시 마포구 월드컵로3길 56', '1'], ['83', '지즐 한우 오마카세 합정점', '서울특별시 마포구 양화로 19 지하1층 B103호', '1'], ['84', '스케줄합정', '서울특별시 마포구 양화로6길 33 1층', '1'], ['85', '산오징어양푼무침', '서울특별시 마포구 잔다리로6길 20-6 지하1층', '1'], ['86', '야키토리 나루토 오모테나시', '서울특별시 마포구 독막로5길 17 1층 나루토 오모테나시', '1'], ['87', '침사추이누들', '서울특별시 마포구 어울마당로5길 31', '1'], ['88', '가든포에트', '서울특별시 마포구 와우산로14길 12 가든 포에트', '1'], ['89', '베이코닉 누들바', '서울특별시 마포구 월드컵로17길 50 B1', '1'], ['90', '해피베어데이 합정 본점', '서울특별시 마포구 양화로12길 16-6 1층', '1'], ['91', '텐무스봉봉 나베모토야', '서울특별시 마포구 독막로 46 1층', '1'], ['92', '브루하임', '서울특별시 마포구 양화로10길 36 브루하임', '1'], ['93', '멕시코식당 2호점 멕시코다이너', '서울특별시 마포구 토정로3안길 33 1층 멕시코다이너', '1'], ['94', '최강금돈까스', '서울특별시 마포구 월드컵로3길 31-30', '1'], ['95', '웃사브', '서울특별시 마포구 와우산로11길 10 1,2층', '1'], ['96', '미필담', '서울특별시 마포구 성지3길 22 1층 좌측 미필담', '1'], ['97', '포비 베이직 합정', '서울특별시 마포구 양화로3길 66', '1'], ['98', '보승회관 합정점', '서울특별시 마포구 양화로 73-1 이스턴빌딩 1층', '1'], ['99', '명륜진사갈비 서울 합정점', '서울특별시 마포구 독막로 17 1층', '1'], ['100', '스아게', '서울특별시 마포구 와우산로29라길 7 1층', '1'], ['101', '오마카세 코바시', '서울특별시 마포구 양화로1길 25-3 지층', '1'], ['102', '남고집 합정', '서울특별시 마포구 월드컵로1길 7 1층', '1'], ['103', '을왕리꾸덕집 합정직영점', '서울특별시 마포구 월드컵로3길 14 딜라이트스퀘어2 지하1층', '1'], ['104', '멕시코식당', '서울특별시 마포구 독막로2길 23', '1'], ['105', '미분당 합정점', '서울특별시 마포구 독막로 39 1층', '1'], ['106', '수택', '서울특별시 마포구 양화로7길 4-13 1층', '1'], ['107', '뉴욕아파트먼트', '서울특별시 마포구 월드컵로3길 14 마포한강2차푸르지오상가 217호', '1'], ['108', '윤멘', '서울특별시 마포구 포은로 27', '1'], ['109', '더기와 합정점', '서울특별시 마포구 독막로3길 25 1층', '2'], ['110', '풍류각', '서울특별시 마포구 월드컵로 33 1층', '1'], ['111', '델리카테슨', '서울특별시 마포구 토정로3길 19 1층', '1'], ['112', '크리스피프레시 합정점', '서울특별시 마포구 월드컵로3길 14 딜라이트스퀘어 2차 지하1층', '1']]

In [ ]:

# 데이터 삽입
for row in data:
    print(type(row), row)
    name = row[1]
    address = row[2]
    count = int(row[3])
    insert_query = "INSERT INTO hapjeong (name, address, count) VALUES (%s, %s, %s)"
    cursor.execute(insert_query, (name, address, count))

# 변경사항 커밋
conn.commit()

# 커서 및 연결 종료
cursor.close()
conn.close()

print("Data inserted successfully!")