In [41]:
import pymysql
import pandas as pd
# import cryptography 


# create_sql = """create table hongdae(
# id int auto_increment primary key,
# name varchar(255) not null,
# address varchar(255) not null,
# count int
# )"""  

create_sql = """create table yeonnam(
id int auto_increment primary key,
name varchar(255) not null,
address varchar(255) not null,
count int
)"""  

# create_sql = """create table hapjeong(
# id int auto_increment primary key,
# name varchar(20) not null,
# address varchar(50) not null,
# count int
# )"""  



try:
    

    # 1. Database와 연결.
    conn = pymysql.connect(host = "127.0.0.1", # DBMS의 ip(host) : str
                           port = 3306,        # DBMS의 port 번호 : int
                           user = "root",  # username : str
                           password = "1111",  # password : str
                           db = "use_store"         # 연결할 Database이름 : str
    )     
    # 연결 성공하면 연결된 DB와 관련 작업을 할 수 있는 기능을 제공하는 Connection객체를 반환
    print(type(conn))
    
    # 2. Connection을 사용해서 Cursor 객체 생성
    #    Cursor: sql 처리를 하는 기능을 제공한다(sql전송, 처리결과를 받을 때 까지를 관리)
    cursor = conn.cursor()
    print(type(cursor))
    
    # SQL문 전송 + 처리결과 받기
    
    result = cursor.execute(create_sql)
    print("처리결과", result)
finally:
# 4. 연결닫기(끊기)
    if conn:
        cursor.close()  # 4-1. cursor 연결 닫기
        conn.close()    # 4-2. connection 연결 닫기

<class 'pymysql.connections.Connection'>
<class 'pymysql.cursors.Cursor'>

OperationalError: (1050, "Table 'yeonnam' already exists")

In [8]:

import pymysql
import csv
import os
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# csv 파일 읽기
# def read_csv_file(week_hongdae):
#     data = []
#     file_path = os.path.join(r"C:\pjt", week_hongdae)
#     with open(file_path, 'r', encoding = 'cp949') as file:
#         csv_reader = csv.reader(file)
#         next(csv_reader)
#         for row in csv_reader:
#             data.append(row)
#         return data
    
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# MySQL 데이터베이스 연결
# conn = pymysql.connect(host="127.0.0.1",
#                        port = 3306
#                        user='root',
#                        password='1111',
#                        db='use_store',
#                        charset='utf8mb4')
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 커서 객체 생성
# cursor = conn.cursor()

# CSV 파일 읽기
# data = read_csv_file("week_hongdae.csv")
#-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 테이블 생성
# create_sql = """
# CREATE TABLE IF NOT EXISTS hongdae (
#     id int auto_increment primary key,
#     name VARCHAR(255),
#     address VARCHAR(255),
#     count INT   
# );
# """

# cursor.execute(create_table_query)
#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# 데이터 삽입
# for row in data:
#     name, address, count = row
#     count = int(count)
#     insert_query = "INSERT INTO hongdae (id, name, address, count) VALUES (%s, %s, %s, %s)"
#     cursor.execute(insert_query, (id, name, address, count))

# 변경사항 커밋
# conn.commit()

# 커서 및 연결 종료
# cursor.close()
# conn.close()
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# print("Data inserted successfully!")

Data inserted successfully!

In [42]:
import pymysql
import csv
import os

# CSV 파일 읽기
def read_csv_file(march_week4_Yunnam):
    data = []
    file_path = os.path.join(r"C:\pjt", march_week4_Yunnam)
    with open(file_path, 'r', encoding='cp949') as file:
        csv_reader = csv.reader(file)
        next(csv_reader)
        for row in csv_reader:
            data.append(row)
    return data

# MySQL 데이터베이스 연결
conn = pymysql.connect(host="127.0.0.1",
                       port=3306,
                       user='root',
                       password='1111',
                       db='use_store',
                       charset='')

# 커서 객체 생성
cursor = conn.cursor()

# CSV 파일 읽기
data = read_csv_file("march_week4_Yunnam.csv")

In [43]:
print(type(data))
print(data)

<class 'list'>
[['0', '평화연남', '서울특별시 마포구 동교로 254-1', '2'], ['1', '화씨이육공 연남점', '서울특별시 마포구 동교로 258 1층, 2층 화씨이육공 연남점', '4'], ['2', '연남물갈비 김해율하점', '경상남도 김해시 율하카페길 105-27', '5'], ['3', '니뽕내뽕 홍대점', '서울특별시 마포구 양화로18안길 8', '1'], ['4', '연남어부', '서울특별시 마포구 동교로 220 1층', '5'], ['5', '아민 연남', '서울특별시 마포구 동교로52길 10-7', '5'], ['6', '연남물갈비 인천주안점', '인천광역시 미추홀구 인하로 246 2층', '1'], ['7', '한술식당 프리미엄 연남점', '서울특별시 마포구 성미산로 190-3 한술식당 프리미엄 연남점', '10'], ['8', '테이커테이블', '서울특별시 마포구 동교로30길 6 1층', '1'], ['9', '연남물갈비 부산대신점', '부산광역시 서구 구덕로333번길 8', '2'], ['10', '해브', '서울특별시 마포구 연희로1길 55 1층', '1'], ['11', '연남제비', '서울특별시 마포구 성미산로 186 1층 연남제비', '1'], ['12', '앤티크커피 연남점', '서울특별시 마포구 연희로 25-1 1층 앤티크커피', '1'], ['13', '연남토마 성수점', '서울특별시 성동구 서울숲4길 16-20', '11'], ['14', '소점', '서울특별시 마포구 성미산로17길 99', '1'], ['15', '월강부산돼지국밥', '서울특별시 마포구 동교로 241-1 월강부산돼지국밥', '1'], ['16', '하이하우스', '서울특별시 마포구 성미산로 161-10 2층', '1'], ['17', '요미우돈교자 연남점', '서울특별시 마포구 동교로 244-1 1층', '1'], ['18', '라헬의부엌 연남점', '서울특별시 마포구 동교로38길 5 1층', '1'], ['19', '서대문 양꼬치 BAR', '서울특별시 마포구 동교로 251 2층', '1'], ['20', '저스트텐동 연남본점', '서울특별시 마포구 동교로46길 3', '3'], ['21', '제일 연남', '서울특별시 마포구 연희로1길 51 지하1층', '1'], ['22', '니꾸킹버거', '서울특별시 마포구 동교로34길 17 1층 202호', '2'], ['23', '몽중식', '서울특별시 마포구 동교로 257 2층', '1'], ['24', '쿠로코식당 연남점', '서울특별시 마포구 동교로27길 83 1층', '1'], ['25', '포가레 연남본점', '서울특별시 마포구 동교로 227-7 2층', '5'], ['26', '데일리라운드 연남', '서울특별시 마포구 동교로38길 27-19 2.5', '3'], ['27', '연남물갈비 등촌역점', '서울특별시 양천구 목동중앙북로7가길 61 105호 연남물갈비', '2'], ['28', '연남파스타야', '서울특별시 마포구 동교로 266-10 1층 102호', '3'], ['29', '뮬 연남', '서울특별시 마포구 동교로 262-8 2층', '2'], ['30', '랫댓 연남', '서울특별시 마포구 동교로 243-4 2층', '1'], ['31', '연하동', '서울특별시 마포구 연남로 6', '1'], ['32', '브레디포스트 연남점', '서울특별시 마포구 연남로 8 1층', '1'], ['33', '규카츠정 연남', '서울특별시 마포구 동교로 266-11 2층 202호', '2'], ['34', '문득 연남점', '서울특별시 마포구 동교로 257 1층 문득', '21'], ['35', '연남토마 연남본점', '서울특별시 마포구 월드컵북로6길 61 연남토마', '1'], ['36', '커들룸 연남', '서울특별시 마포구 동교로38길 41 지하1층', '1'], ['37', '연남물갈비 부산센텀점', '부산광역시 해운대구 센텀동로 102 1층 114호', '1'], ['38', '연남족발1987', '서울특별시 마포구 동교로 222 1층', '5'], ['39', '청화접', '서울특별시 마포구 동교로 268 지하1층 청화접', '2'], ['40', '대림국수 연남점', '서울특별시 마포구 동교로 274 1층', '1'], ['41', '일쩜오플로어', '서울특별시 마포구 동교로34길 21', '1'], ['42', '파머스포케 연남점', '서울특별시 마포구 동교로38길 41 2층', '1'], ['43', '카멜로연남', '서울특별시 마포구 연희로1길 57 1.5층', '1'], ['44', '창화당 연남점', '서울특별시 마포구 양화로23길 22-6 1층 창화당', '1'], ['45', '오마', '서울특별시 마포구 성미산로 192 2F 오마', '2'], ['46', '연남광안리', '서울특별시 마포구 동교로 258-1 1층 연남광안리', '1'], ['47', '심야식당하스', '서울특별시 마포구 연희로1길 19', '1'], ['48', '고시고시 연남', '서울특별시 마포구 동교로38길 33-21 1층 고시고시', '1'], ['49', '또보겠지떡볶이집 붕붕허니비점', '서울특별시 마포구 양화로19길 22-25 2층', '1'], ['50', '아뜨뜨', '서울특별시 마포구 동교로38길 42-5 1층 아뜨뜨', '3'], ['51', '옥자', '서울특별시 마포구 성미산로29길 40-15 1층', '1'], ['52', '콘부 연남', '서울특별시 마포구 동교로46길 42-20 1층', '2'], ['53', '연남토마 북촌점', '서울특별시 종로구 북촌로5길 39 1층', '1'], ['54', '삐딱 연남점', '서울특별시 마포구 동교로34길 6 1층', '1'], ['55', '그레이비 버거', '서울특별시 마포구 동교로38길 14 지1층,1층', '1'], ['56', '태국수', '서울특별시 마포구 연희로 29', '1'], ['57', '광야', '서울특별시 마포구 월드컵북로4길 82 1층 광야', '1'], ['58', '오이지 연남', '서울특별시 마포구 연희로1길 15 지층 오이지 연남', '2'], ['59', '틸애프터 연남', '서울특별시 마포구 양화로19길 22-30 1층', '1'], ['60', '유니크혼', '서울특별시 마포구 동교로46길 16 1층', '1'], ['61', '연남주막1987', '서울특별시 마포구 동교로 212-5 1층', '1'], ['62', '미담', '서울특별시 마포구 성미산로29안길 25 2층', '2'], ['63', '연남물갈비 인천송도점', '인천광역시 연수구 랜드마크로 68 랜드마크시티센트럴더샵 상업시설 301동 1층 71, 72호', '1'], ['64', '토끼다이닝 연남', '서울특별시 마포구 동교로 278 지층', '5'], ['65', '다운타우너 연남', '서울특별시 마포구 월드컵북로6길 12-13 1층', '1'], ['66', '이억만껍데기', '서울특별시 마포구 동교로 255', '1'], ['67', '연남물갈비 전북도청점', '전북특별자치도 전주시 완산구 효자로 178 제니스빌딩 2층', '2'], ['68', '카마카츠', '서울특별시 마포구 동교로 262-10 2층', '1'], ['69', '잼잼', '서울특별시 마포구 성미산로29길 24 지하1층', '1'], ['70', '연남토마 강남점', '서울특별시 강남구 강남대로106길 15 1층', '1'], ['71', '더바이글', '서울특별시 마포구 포은로 117 1층 103호', '1'], ['72', '리리마카오', '서울특별시 마포구 동교로 227-1 1층,2층', '1'], ['73', '연남주막 발산점', '서울특별시 강서구 마곡중앙6로 70 매그넘797 1층 110호', '2'], ['74', '토쿠이', '서울특별시 마포구 동교로 282 지층', '1'], ['75', '연남물갈비 광주양산점', '광주광역시 북구 양산로 63 1층', '1'], ['76', '연남물갈비 세종반곡점', '세종특별자치시 한누리대로 1864 상가 A동 107호', '1'], ['77', '연남취향', '서울특별시 마포구 연희로1길 36', '3'], ['78', '클래식당', '서울특별시 마포구 연희로1길 63 1층 클래식당', '1'], ['79', '미쁘동', '서울특별시 마포구 동교로38길 33-21 2층', '5'], ['80', '연남', '대전광역시 서구 대덕대로175번길 40 두운힐스타운', '1'], ['81', '쿠히치 연남', '서울특별시 마포구 동교로46길 42-22', '1'], ['82', '연남물갈비 대구지산점', '대구광역시 수성구 용학로 293-7 연남물갈비 대구지산점', '2'], ['83', '연남물갈비 웅천점', '전라남도 여수시 웅남1길 6-20', '1'], ['84', '연남물갈비 인천부평점', '인천광역시 부평구 시장로30번길 27 1층', '3'], ['85', '연남청춘', '서울특별시 마포구 성미산로29안길 27-12 지하1, 지상1층', '2'], ['86', '젤라잇', '서울특별시 마포구 동교로 210 태전빌딩 1층 건물 뒷편 젤라잇', '1'], ['87', '연남화로', '서울특별시 마포구 성미산로 195 1층 연남화로', '1'], ['88', '한공간', '서울특별시 마포구 동교로27길 78 1층 한공간', '1'], ['89', '시모네', '서울특별시 마포구 성미산로29안길 19-7 1층 시모네', '1'], ['90', '샤브로21 연남', '서울특별시 마포구 양화로19길 22-13 1층 101호(동교동)', '1'], ['91', '나베공방', '서울특별시 마포구 양화로6길 57-24', '1'], ['92', '연어롭다', '서울특별시 마포구 동교로38길 42', '1'], ['93', '멜팅오브', '서울특별시 마포구 동교로38길 33-14 연남스퀘어빌딩 2층', '1'], ['94', '연남물갈비 서울시흥점', '서울특별시 금천구 시흥대로52길 42 지상1층', '1'], ['95', '왓에버타코', '서울특별시 마포구 연희로1길 51 1층 102호', '1'], ['96', '연남국자', '서울특별시 마포구 동교로39길 7 1층', '1'], ['97', '연남토마 고속터미널점', '서울특별시 서초구 신반포로 194 고속터미널 경부선 1층 4호', '1'], ['98', '연남 흑돼지', '서울특별시 마포구 동교로32길 3 연남흑돼지', '1'], ['99', '오버트 연남', '서울특별시 마포구 연희로 7 1층 105호', '1'], ['100', '테판클럽', '서울특별시 마포구 동교로 243 3층', '1'], ['101', '심원', '서울특별시 마포구 성미산로29안길 19-7 2층', '1'], ['102', '연남물갈비 광명어반브릭스점', '경기도 광명시 양지로 19 3층 364호', '1'], ['103', '야키토리 묵', '서울특별시 마포구 성미산로 165-1 1층 우측', '1'], ['104', '1953연남서서갈비 정자직영점', '경기도 성남시 분당구 백현로150번길 7 1층', '1'], ['105', '쿤댕', '서울특별시 마포구 동교로38길 42-6 2층', '1'], ['106', '서양면옥', '서울특별시 마포구 연희로1길 43 1층 101호', '1']]

In [44]:

# 데이터 삽입
for row in data:
    print(type(row), row)
    name = row[1]
    address = row[2]
    count = int(row[3])
    insert_query = "INSERT INTO hongdae (name, address, count) VALUES (%s, %s, %s)"
    cursor.execute(insert_query, (name, address, count))

<class 'list'> ['0', '평화연남', '서울특별시 마포구 동교로 254-1', '2']
<class 'list'> ['1', '화씨이육공 연남점', '서울특별시 마포구 동교로 258 1층, 2층 화씨이육공 연남점', '4']
<class 'list'> ['2', '연남물갈비 김해율하점', '경상남도 김해시 율하카페길 105-27', '5']
<class 'list'> ['3', '니뽕내뽕 홍대점', '서울특별시 마포구 양화로18안길 8', '1']
<class 'list'> ['4', '연남어부', '서울특별시 마포구 동교로 220 1층', '5']
<class 'list'> ['5', '아민 연남', '서울특별시 마포구 동교로52길 10-7', '5']
<class 'list'> ['6', '연남물갈비 인천주안점', '인천광역시 미추홀구 인하로 246 2층', '1']
<class 'list'> ['7', '한술식당 프리미엄 연남점', '서울특별시 마포구 성미산로 190-3 한술식당 프리미엄 연남점', '10']
<class 'list'> ['8', '테이커테이블', '서울특별시 마포구 동교로30길 6 1층', '1']
<class 'list'> ['9', '연남물갈비 부산대신점', '부산광역시 서구 구덕로333번길 8', '2']
<class 'list'> ['10', '해브', '서울특별시 마포구 연희로1길 55 1층', '1']
<class 'list'> ['11', '연남제비', '서울특별시 마포구 성미산로 186 1층 연남제비', '1']
<class 'list'> ['12', '앤티크커피 연남점', '서울특별시 마포구 연희로 25-1 1층 앤티크커피', '1']
<class 'list'> ['13', '연남토마 성수점', '서울특별시 성동구 서울숲4길 16-20', '11']
<class 'list'> ['14', '소점', '서울특별시 마포구 성미산로17길 99', '1']
<class 'list'> ['15', '월강부산돼지국밥', '서울특별시 마포구 동교로 241-1 월강부산돼지국밥', '1']
<class 'list'> ['16', '하이하우스', '서울특별시 마포구 성미산로 161-10 2층', '1']
<class 'list'> ['17', '요미우돈교자 연남점', '서울특별시 마포구 동교로 244-1 1층', '1']
<class 'list'> ['18', '라헬의부엌 연남점', '서울특별시 마포구 동교로38길 5 1층', '1']
<class 'list'> ['19', '서대문 양꼬치 BAR', '서울특별시 마포구 동교로 251 2층', '1']
<class 'list'> ['20', '저스트텐동 연남본점', '서울특별시 마포구 동교로46길 3', '3']
<class 'list'> ['21', '제일 연남', '서울특별시 마포구 연희로1길 51 지하1층', '1']
<class 'list'> ['22', '니꾸킹버거', '서울특별시 마포구 동교로34길 17 1층 202호', '2']
<class 'list'> ['23', '몽중식', '서울특별시 마포구 동교로 257 2층', '1']
<class 'list'> ['24', '쿠로코식당 연남점', '서울특별시 마포구 동교로27길 83 1층', '1']
<class 'list'> ['25', '포가레 연남본점', '서울특별시 마포구 동교로 227-7 2층', '5']
<class 'list'> ['26', '데일리라운드 연남', '서울특별시 마포구 동교로38길 27-19 2.5', '3']
<class 'list'> ['27', '연남물갈비 등촌역점', '서울특별시 양천구 목동중앙북로7가길 61 105호 연남물갈비', '2']
<class 'list'> ['28', '연남파스타야', '서울특별시 마포구 동교로 266-10 1층 102호', '3']
<class 'list'> ['29', '뮬 연남', '서울특별시 마포구 동교로 262-8 2층', '2']
<class 'list'> ['30', '랫댓 연남', '서울특별시 마포구 동교로 243-4 2층', '1']
<class 'list'> ['31', '연하동', '서울특별시 마포구 연남로 6', '1']
<class 'list'> ['32', '브레디포스트 연남점', '서울특별시 마포구 연남로 8 1층', '1']
<class 'list'> ['33', '규카츠정 연남', '서울특별시 마포구 동교로 266-11 2층 202호', '2']
<class 'list'> ['34', '문득 연남점', '서울특별시 마포구 동교로 257 1층 문득', '21']
<class 'list'> ['35', '연남토마 연남본점', '서울특별시 마포구 월드컵북로6길 61 연남토마', '1']
<class 'list'> ['36', '커들룸 연남', '서울특별시 마포구 동교로38길 41 지하1층', '1']
<class 'list'> ['37', '연남물갈비 부산센텀점', '부산광역시 해운대구 센텀동로 102 1층 114호', '1']
<class 'list'> ['38', '연남족발1987', '서울특별시 마포구 동교로 222 1층', '5']
<class 'list'> ['39', '청화접', '서울특별시 마포구 동교로 268 지하1층 청화접', '2']
<class 'list'> ['40', '대림국수 연남점', '서울특별시 마포구 동교로 274 1층', '1']
<class 'list'> ['41', '일쩜오플로어', '서울특별시 마포구 동교로34길 21', '1']
<class 'list'> ['42', '파머스포케 연남점', '서울특별시 마포구 동교로38길 41 2층', '1']
<class 'list'> ['43', '카멜로연남', '서울특별시 마포구 연희로1길 57 1.5층', '1']
<class 'list'> ['44', '창화당 연남점', '서울특별시 마포구 양화로23길 22-6 1층 창화당', '1']
<class 'list'> ['45', '오마', '서울특별시 마포구 성미산로 192 2F 오마', '2']
<class 'list'> ['46', '연남광안리', '서울특별시 마포구 동교로 258-1 1층 연남광안리', '1']
<class 'list'> ['47', '심야식당하스', '서울특별시 마포구 연희로1길 19', '1']
<class 'list'> ['48', '고시고시 연남', '서울특별시 마포구 동교로38길 33-21 1층 고시고시', '1']
<class 'list'> ['49', '또보겠지떡볶이집 붕붕허니비점', '서울특별시 마포구 양화로19길 22-25 2층', '1']
<class 'list'> ['50', '아뜨뜨', '서울특별시 마포구 동교로38길 42-5 1층 아뜨뜨', '3']
<class 'list'> ['51', '옥자', '서울특별시 마포구 성미산로29길 40-15 1층', '1']
<class 'list'> ['52', '콘부 연남', '서울특별시 마포구 동교로46길 42-20 1층', '2']
<class 'list'> ['53', '연남토마 북촌점', '서울특별시 종로구 북촌로5길 39 1층', '1']
<class 'list'> ['54', '삐딱 연남점', '서울특별시 마포구 동교로34길 6 1층', '1']
<class 'list'> ['55', '그레이비 버거', '서울특별시 마포구 동교로38길 14 지1층,1층', '1']
<class 'list'> ['56', '태국수', '서울특별시 마포구 연희로 29', '1']
<class 'list'> ['57', '광야', '서울특별시 마포구 월드컵북로4길 82 1층 광야', '1']
<class 'list'> ['58', '오이지 연남', '서울특별시 마포구 연희로1길 15 지층 오이지 연남', '2']
<class 'list'> ['59', '틸애프터 연남', '서울특별시 마포구 양화로19길 22-30 1층', '1']
<class 'list'> ['60', '유니크혼', '서울특별시 마포구 동교로46길 16 1층', '1']
<class 'list'> ['61', '연남주막1987', '서울특별시 마포구 동교로 212-5 1층', '1']
<class 'list'> ['62', '미담', '서울특별시 마포구 성미산로29안길 25 2층', '2']
<class 'list'> ['63', '연남물갈비 인천송도점', '인천광역시 연수구 랜드마크로 68 랜드마크시티센트럴더샵 상업시설 301동 1층 71, 72호', '1']
<class 'list'> ['64', '토끼다이닝 연남', '서울특별시 마포구 동교로 278 지층', '5']
<class 'list'> ['65', '다운타우너 연남', '서울특별시 마포구 월드컵북로6길 12-13 1층', '1']
<class 'list'> ['66', '이억만껍데기', '서울특별시 마포구 동교로 255', '1']
<class 'list'> ['67', '연남물갈비 전북도청점', '전북특별자치도 전주시 완산구 효자로 178 제니스빌딩 2층', '2']
<class 'list'> ['68', '카마카츠', '서울특별시 마포구 동교로 262-10 2층', '1']
<class 'list'> ['69', '잼잼', '서울특별시 마포구 성미산로29길 24 지하1층', '1']
<class 'list'> ['70', '연남토마 강남점', '서울특별시 강남구 강남대로106길 15 1층', '1']
<class 'list'> ['71', '더바이글', '서울특별시 마포구 포은로 117 1층 103호', '1']
<class 'list'> ['72', '리리마카오', '서울특별시 마포구 동교로 227-1 1층,2층', '1']
<class 'list'> ['73', '연남주막 발산점', '서울특별시 강서구 마곡중앙6로 70 매그넘797 1층 110호', '2']
<class 'list'> ['74', '토쿠이', '서울특별시 마포구 동교로 282 지층', '1']
<class 'list'> ['75', '연남물갈비 광주양산점', '광주광역시 북구 양산로 63 1층', '1']
<class 'list'> ['76', '연남물갈비 세종반곡점', '세종특별자치시 한누리대로 1864 상가 A동 107호', '1']
<class 'list'> ['77', '연남취향', '서울특별시 마포구 연희로1길 36', '3']
<class 'list'> ['78', '클래식당', '서울특별시 마포구 연희로1길 63 1층 클래식당', '1']
<class 'list'> ['79', '미쁘동', '서울특별시 마포구 동교로38길 33-21 2층', '5']
<class 'list'> ['80', '연남', '대전광역시 서구 대덕대로175번길 40 두운힐스타운', '1']
<class 'list'> ['81', '쿠히치 연남', '서울특별시 마포구 동교로46길 42-22', '1']
<class 'list'> ['82', '연남물갈비 대구지산점', '대구광역시 수성구 용학로 293-7 연남물갈비 대구지산점', '2']
<class 'list'> ['83', '연남물갈비 웅천점', '전라남도 여수시 웅남1길 6-20', '1']
<class 'list'> ['84', '연남물갈비 인천부평점', '인천광역시 부평구 시장로30번길 27 1층', '3']
<class 'list'> ['85', '연남청춘', '서울특별시 마포구 성미산로29안길 27-12 지하1, 지상1층', '2']
<class 'list'> ['86', '젤라잇', '서울특별시 마포구 동교로 210 태전빌딩 1층 건물 뒷편 젤라잇', '1']
<class 'list'> ['87', '연남화로', '서울특별시 마포구 성미산로 195 1층 연남화로', '1']
<class 'list'> ['88', '한공간', '서울특별시 마포구 동교로27길 78 1층 한공간', '1']
<class 'list'> ['89', '시모네', '서울특별시 마포구 성미산로29안길 19-7 1층 시모네', '1']
<class 'list'> ['90', '샤브로21 연남', '서울특별시 마포구 양화로19길 22-13 1층 101호(동교동)', '1']
<class 'list'> ['91', '나베공방', '서울특별시 마포구 양화로6길 57-24', '1']
<class 'list'> ['92', '연어롭다', '서울특별시 마포구 동교로38길 42', '1']
<class 'list'> ['93', '멜팅오브', '서울특별시 마포구 동교로38길 33-14 연남스퀘어빌딩 2층', '1']
<class 'list'> ['94', '연남물갈비 서울시흥점', '서울특별시 금천구 시흥대로52길 42 지상1층', '1']
<class 'list'> ['95', '왓에버타코', '서울특별시 마포구 연희로1길 51 1층 102호', '1']
<class 'list'> ['96', '연남국자', '서울특별시 마포구 동교로39길 7 1층', '1']
<class 'list'> ['97', '연남토마 고속터미널점', '서울특별시 서초구 신반포로 194 고속터미널 경부선 1층 4호', '1']
<class 'list'> ['98', '연남 흑돼지', '서울특별시 마포구 동교로32길 3 연남흑돼지', '1']
<class 'list'> ['99', '오버트 연남', '서울특별시 마포구 연희로 7 1층 105호', '1']
<class 'list'> ['100', '테판클럽', '서울특별시 마포구 동교로 243 3층', '1']
<class 'list'> ['101', '심원', '서울특별시 마포구 성미산로29안길 19-7 2층', '1']
<class 'list'> ['102', '연남물갈비 광명어반브릭스점', '경기도 광명시 양지로 19 3층 364호', '1']
<class 'list'> ['103', '야키토리 묵', '서울특별시 마포구 성미산로 165-1 1층 우측', '1']
<class 'list'> ['104', '1953연남서서갈비 정자직영점', '경기도 성남시 분당구 백현로150번길 7 1층', '1']
<class 'list'> ['105', '쿤댕', '서울특별시 마포구 동교로38길 42-6 2층', '1']
<class 'list'> ['106', '서양면옥', '서울특별시 마포구 연희로1길 43 1층 101호', '1']

In [45]:

# 변경사항 커밋
conn.commit()

# 커서 및 연결 종료
# cursor.close()
# conn.close()

print("Data inserted successfully!")

Data inserted successfully!